<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Enter your phrase: </h1>
    <h2> Pig Latinizer!</h2>
    <form method="post" action="/piglatinize">
      <textarea name="user_phrase" value=""> </textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>